<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${logging.debug:-false}" scan="false">
    <include
            resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <conversionRule conversionWord="logbook"
                    converterClass="x.loggy.LogbookPropertyConverter"/>
    <conversionRule conversionWord="try_message"
                    converterClass="x.loggy.TryLogbookMessageConverter"/>

    <springProperty
            scope="context"
            name="spring.application.name"
            source="spring.application.name"
            defaultValue="MISCONFIGURED_BOOTSTRAP_YML"/>
    <springProperty
            scope="context"
            name="environment"
            source="environment"
            defaultValue="local"/>

    <springProfile name="!json">
        <include
                resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="json">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder
                    class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <timeZone>UTC</timeZone>
                    </timestamp>
                    <version/>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        <pattern>
                            {
                            "service": "${spring.application.name}",
                            "message": "%try_message{text}",
                            "http_exchange": "#tryJson{%try_message{json}}",
                            "environment": "${environment}",
                            "http_exchange": "#tryJson{%try_message{json}}",
                            "http_correlation": "%logbook{correlation}",
                            "http_origin": "%logbook{origin}",
                            "http_method": "%logbook{method}",
                            "http_path": "%logbook{uriPath}",
                            "http_status": "#asLong{%logbook{status}}",
                            "http_duration": "#asLong{%logbook{duration}}"
                            }
                        </pattern>
                    </pattern>
                    <loggerName/>
                    <threadName/>
                    <logLevel/>
                    <logLevelValue/>
                    <mdc/>
                    <tags/>
                    <stackHash/>
                    <stackTrace>
                        <throwableConverter
                                class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>3</maxDepthPerThrowable>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
