config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.mockito.Mock
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.val.flagUsage = error
lombok.var.flagUsage = error
