config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.mockito.Mock
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.log.slf4j.flagUsage = error
lombok.var.flagUsage = error
lombok.wither.flagUsage = error
