<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${logging.debug:-false}" scan="false">
    <conversionRule conversionWord="severity"
                    converterClass="x.loggy.SeverityConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- @formatter:off -->
            <pattern>%d{"yyyy-MM-dd HH:mm:ss.SSSX",UTC} %p [%t] %logger : %m%n%ex</pattern>
            <!-- @formatter:on -->
        </encoder>
    </appender>

    <appender name="ALERT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <!-- @formatter:off -->
            <pattern>! %date{"yyyy-MM-dd'T'HH:mm:ss.SSSX",UTC} [%severity] %m%n</pattern>
            <!-- @formatter:on -->
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="ALERT"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
