<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${logging.debug:-false}" scan="false">
    <conversionRule conversionWord="severity"
                    converterClass="x.loggy.SeverityConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%severity</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
